body {
  display: flex;
  justify-content: center;
  background-color: lavender;
}
.bord {
  border: solid rgb(160, 160, 160) 1px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 20vw;
  height: 50vh;
  gap: 20px;
}
.bord:hover {
  border: solid blue 1px;
  cursor: pointer;
}
.zurag {
  width: 15vw;
  height: 19vh;
}
.style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.text {
  border: solid grey;
  width: 15vw;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.une {
  color: green;
}

.id {
  padding-top: 10px;
}
.text2 {
  font-size: 10px;
  flex-wrap: wrap;
  padding-left: 10px;
}
.styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 10px;
}
.ug {
  font-size: 30px;
}

.turul {
  color: grey;
  padding-top: 10px;
}
